<!-- upgrade -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].upgrade.section | default: "upgrade" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].upgrade.title | default: "Android Box Upgrade" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].upgrade.text | default: "" }}</h3>
      </div>
    </div>
    {%- if site.data.sitetext[site.locale].upgrade.button -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[site.locale].upgrade.buttonlink }}">{{ site.data.sitetext[site.locale].upgrade.button }}</a>
	  {%- endif -%}
  </div>
</section>
<!-- End upgrade -->
